*{ 
    margin: 0;
    padding: 0;   
    font-size: 16px;
    font-family: Helvetica,sans-serif; 
    box-sizing:border-box;
    line-height: 1.15;
}
body,form,input,textarea,select,option,ul,li,ol,dl,dt,dd,p,pre{
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
a{
	text-decoration: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	background-color: transparent;
}

img{
	border: 0;
	border-style: none;
}
button,input{
  overflow: visible;
}